node_modules
# Keep environment variables out of version control
.env
frontend_part/order_ttn_sender_copilot_vue/node_modules
frontend_part/order_ttn_sender_copilot_vue/.env
frontend_part/order_ttn_sender_copilot_vue/dist
prisma/dev.db
.idea/workspace.xml
# Ignore build artifacts
build   